body {
    font-family: 'Poppins', sans-serif;
    max-width: 550px;
    width: 550px;
    height: 973px;
    background-color: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    margin: 0 auto;
    /* border: 1px solid #F83375; */
}

/* top buttons */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 ;
}

button{    
    width: 91.87px;
    height: 91.87px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 10px 20px #E9E9EA;
    cursor: pointer;
    background: linear-gradient(180deg, #FFFFFF 33.29%, #F7F8FC 100%);
    margin: 0;
    padding: 0;
}

#home{
    width: 84px;
    height: 42px;
    background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
    border-radius: 30px;
}
.top{
    width: 41.21px;
    height: 41.21px;
    margin-bottom: 1.25em;
    margin-top: 1em;
}

/* Main */

#profile{
    width: 100%;
}
#profile .ProfilePic{
    width: 550px;
    margin-bottom: 1.25rem;
}

img{
    max-width: 100%;
    border-radius: 15px;
}

.container{
    max-width: 550px;
    /* border: 1px solid #F83375; */
}
.result-icon{
    position: absolute;
    width: 233.91px;
    height: 116.26px;
    left: 314px;
    top: 221.96px;

    transform: rotate(-30deg);
}
.no-more{
    width: 550px;
    height: 750px;
    display: flex;
    flex-direction: end;
    justify-content: center;
}



/* Action */

.actions{
    display: flex;
    justify-content:center;
    cursor: pointer;

}
#swipe{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    margin: 0 12px;
    
}
#swipe:hover{
    background: #ffe7ef;
    box-shadow: 0px 10px 20px #EDD9DF;
}

#heart{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    margin: 0 12px;
    
}
#heart:hover{
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #DBFFF4;
}


/* Typography */

h4{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 0px;
    padding: 0;
    margin: 0 auto;

    position: absolute;
width: 158.78px;
height: 36.41px;
left: 260.34px;
top: 659.36px;
line-height: 112%;

text-align:start;

color: #F8F8F8;
}

.dog-bio{
    color: #b7b7b7;
    font-weight: 400;
    font-size: 24px;
    margin:0 auto;
    padding-bottom: 0;
    position: absolute;
    text-align: start;
width: 476px;
height: 32px;
left: 260px;
top: 703px;
line-height: 133%;
}
